<template>
  <q-page padding>
    <div class="row">
      <h2 class="text-h3 q-mb-lg q-ml-none q-mt-md">
        {{ $t('global.projects') }}
      </h2>
    </div>
    <div class="row q-col-gutter-md">
      <div
        v-for="project in projects"
        :key="project.key"
        class="col-xs-12 col-md-4 col-lg-4"
      >
        <q-card v-ripple
          @click="onClickBtnViewProject(project)"
          class="cursor-pointer grid-style-transition"
          :class="project.is_coming ? 'bg-grey-3 text-grey-6' : ''"
        >
          <q-card-section>
            <div class="text-h6">
              {{ project.title }}
              <q-badge floating
                v-if="project.is_coming"
              >
                {{ $t('global.isComing') }}
              </q-badge>
            </div>
            <div class="text-subtitle2">
              {{ project.subtitle }}
            </div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import IndexMixin from './IndexMixin'

export default {
  name: 'PageIndex',
  mixins: [
    IndexMixin
  ]
}
</script>

<style lang="stylus" scoped>
.q-card:hover
  transform scale(0.95)
  background-color $primary
  color #fff
.grid-style-transition
  transition transform .28s, background-color .28s
</style>
